* {
    margin: 0;
}

.navbar-background {
    display: flex;
    align-items: center;
    justify-content:    center;
    padding-inline: 3vw;
    background: radial-gradient(circle, #f7f3cf 70%, #ffffff);
}

.container-buttons {
    display: flex;
    align-items: center;
    height: 4vw;
    list-style: none;
}

.container-button {
    margin-inline: 2rem;
    text-decoration: none;
}

.button {
    color: #176585;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.button:hover {
    transition: 1ms;
}